<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lebenslauf</title>
    <!--1)Bootstrap CSS library-->
    <link rel="stylesheet" href="bootstrap-5.3.3-dist/bootstrap-5.3.3-dist/css/bootstrap.css">
    <!--2)My own CSS file-->
    <link rel="stylesheet" href="css/MyOwnCss.css"/>
    <!--3)jQuery library-->
    <script src="jquery.js"></script>
    <!--4)Bootstrap jQuery library-->
    <script src="bootstrap-5.3.3-dist/bootstrap-5.3.3-dist/js/bootstrap.js"></script>
    <!--5)My own JavaScript file-->
    <script type="text/javascript" src="js/MyOwnJavaScript.js"></script>
</head>
<body>
    <div class="Überschrift">
        <div class="row">
            <div class="col-md-6">
                <h1>Lebenslauf</h1>
            </div>
            <div class="col-md-6">
                <img class="Cybit" src="Bilder/Cybit_logo.jpg" alt="Cybit Logo" style="float: right;height: 53px;">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="p">
                <br>
                <h4>Persönliche Daten</h4>
            </div>
        </div>  
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="p">
                <p>Name:</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="a">
                <p>Theodor Müller</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="p">
                <p>Geburtsdatum:</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="a">
                <p>18.11.2007</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="p">
                <p>Adresse:</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="a">
                <p>Im Silberhardt 21<br> 78337 Öhningen</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="p">
                <p>Telefon:</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="a">
                <p>+4915202390401</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="p">
                <p>E-Mail:</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="a">
                <p>tfm@mueller-freund.de</p>
            </div>
        </div>
        <div class="col-md-4">
            <img class="Profilbild" src="Bilder/anonym.png" alt="Profilbild" style="float: right;height: 250px;">
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-4">
            <div class="p">
                <h4>Schulbildung</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="p">
                <p>09.2014-07.2018</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="a">
                <p>Grundschule Öhningen</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="p">
                <p>Seit 09.2018</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="a">
                <p>Friedrich-Hecker-Gymnasium Radolfzell</p>
            </div>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-4">
            <div class="p">
                <h4>Praktische Erfahrung</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="p">
                <p>27.02.-03.03.2022</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="a">
                <p>Kindergarten Öhningen</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="p">
                <p>20.10.-03.11.2023</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="a">
                <p>"5 Tage 5 Berufe":<br>->Fachinformatiker für Systemintegration<br>->Kfz Mechatroniker
                    <br>->Chemikant</p>
            </div>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-4">
            <div class="p">
                <h4>Interessen und Kenntnisse</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="p">
                <p>Muttersprache:</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="a">
                <p>Deutsch</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="p">
                <p>Sprachkenntnisse:</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="a">
                <p>Englisch (gut), Französisch (gut)</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="p">
                <p>EDV-Kenntnisse:</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="a">
                <p>Grundkenntnisse in Word, Excel,PowerPoint(Ms); Grundkenntnisse bei Java</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="p">
                <p>Hobbies:</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="a">
                <p>Geige (Seit 2012), Volleyball (Seit2017), Tanzen</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="p">
                <p>Lieblingsfächer:</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="a">
                <p>Mathe, NwT, Physik, Informatik AG</p>
            </div>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-4">
            <div class="p">
                <h4>Social Media</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-1">
            <div class="Logos">
                <img src="Bilder/Instagram.jpg" alt="Instagram Logo" style="float: left;height: 30px;">
            </div>
        </div>
        <div class="col-md-3">
            <div class="si">
                <p style="color: gray;">Instagram:</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="a">
                <p>@theo_tfm</p>
            </div>
        </div>
        <div class="col-md-4">
            <a href="https://www.instagram.com/theo_tfm?igsh=cG05cjZmdm1pOHA5" target="_blank" class="button1">Instagram</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-1">
            <div class="Logos">
                <img src="Bilder/Snapchat logo.png" alt="Snapchat Logo" style="float: left;height: 30px;">
            </div>
        </div>
        <div class="col-md-3">
            <div class="si">
                <p style="color: grey;">Snapchat:</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="a">
                <p>@theo_tfm07</p>
            </div>
        </div>
        <div class="col-md-4">
            <a href="https://www.snapchat.com/add/theo_tfm07?share_id=2brxcEzdYr0&locale=de-DE" target="_blank" class="button1">Snapchat</a>
        </div>
    </div>

    <hr>

    <div class="p">
        <p>Radolfzell, den 19.03.2024</p>
    </div>

</body>
</html>